html {
  font-size: 62.5%;
  font-family: 'Raleway', sans-serif; }

/**************************************/
body {
  background-color: #f9f8f6; }
  @media (max-width: 550px) {
    body #header_in {
      padding: 20px 0; }
      body #header_in .logo {
        text-align: center; }
      body #header_in .sp_navi {
        text-align: center;
        cursor: pointer; }
        body #header_in .sp_navi .btns {
          display: inline-block; }
          body #header_in .sp_navi .btns #sp_navi_btn {
            cursor: pointer;
            display: inline-block; }
          body #header_in .sp_navi .btns .sp_navi_li {
            display: inline-block;
            display: none; }
            body #header_in .sp_navi .btns .sp_navi_li li {
              list-style: none;
              text-decoration: none; }
        body #header_in .sp_navi .icon {
          display: inline-block; }
      body #header_in .pc_navi_li {
        display: none; } }
  @media (min-width: 550px) {
    body #header_in {
      padding: 40px 0; }
      body #header_in .logo {
        display: block;
        vertical-align: bottom; }
      body #header_in .sp_navi {
        display: none; }
      body #header_in .pc_navi_li {
        vertical-align: bottom;
        margin-bottom: 0;
        position: absolute;
        bottom: 50px;
        right: 0; }
        body #header_in .pc_navi_li li {
          list-style: none;
          float: left;
          padding-left: 10px;
          margin-bottom: 0; }
          body #header_in .pc_navi_li li a {
            font-weight: bold;
            color: #887f69;
            text-decoration: none; } }
  body .container .ca_banner {
    width: 100%; }
  @media (max-width: 550px) {
    body .container .pc_newitems {
      display: none; } }
  @media (min-width: 550px) {
    body .container .pc_newitems {
      padding: 15px 0;
      max-width: 100%; } }
  @media (max-width: 550px) {
    body .container .sp_newitems {
      max-width: 100%;
      display: block;
      margin: auto;
      padding: 15px 0; } }
  @media (min-width: 550px) {
    body .container .sp_newitems {
      display: none; } }
  @media (max-width: 550px) {
    body .container .pc_popular {
      display: none; } }
  @media (min-width: 550px) {
    body .container .pc_popular {
      padding: 15px 0;
      max-width: 100%; } }
  @media (max-width: 550px) {
    body .container .sp_popular {
      max-width: 100%;
      display: block;
      margin: auto;
      padding: 15px 0; } }
  @media (min-width: 550px) {
    body .container .sp_popular {
      display: none; } }
  @media (max-width: 550px) {
    body .container .pc_guide {
      display: none; } }
  @media (min-width: 550px) {
    body .container .pc_guide {
      padding: 15px 0;
      max-width: 100%; } }
  @media (max-width: 550px) {
    body .container .sp_guide {
      max-width: 100%;
      display: block;
      margin: auto;
      padding: 15px 0; } }
  @media (min-width: 550px) {
    body .container .sp_guide {
      display: none; } }
  @media (max-width: 550px) {
    body .container .new_items .item_box {
      background-color: #ffffff;
      padding: 12px;
      border: 2px solid #f9f8f6;
      box-sizing: border-box;
      max-width: 50%;
      float: left; }
      body .container .new_items .item_box .flexible-images {
        width: 100%;
        height: auto; }
      body .container .new_items .item_box p {
        font-size: 1rem;
        margin-bottom: 0; } }
  @media (min-width: 550px) {
    body .container .new_items .item_box {
      background-color: #ffffff;
      float: left;
      padding: 12px;
      width: 33%;
      box-sizing: border-box;
      border: 1px solid #f9f8f6; }
      body .container .new_items .item_box .flexible-images {
        max-width: 100%;
        height: auto; }
      body .container .new_items .item_box p {
        font-size: 1rem; } }
  @media (max-width: 550px) {
    body .container .popular_items .item_box {
      background-color: #ffffff;
      padding: 12px;
      border: 2px solid #f9f8f6;
      box-sizing: border-box;
      max-width: 50%;
      float: left; }
      body .container .popular_items .item_box .flexible-images {
        width: 100%;
        height: auto; }
      body .container .popular_items .item_box p {
        font-size: 1rem;
        margin-bottom: 0; } }
  @media (min-width: 550px) {
    body .container .popular_items .item_box {
      background-color: #ffffff;
      float: left;
      padding: 12px;
      width: 33%;
      box-sizing: border-box;
      border: 1px solid #f9f8f6; }
      body .container .popular_items .item_box .flexible-images {
        max-width: 100%;
        height: auto; }
      body .container .popular_items .item_box p {
        font-size: 1rem; } }
  @media (max-width: 550px) {
    body .container .guide .guide_box {
      background-color: #ffffff;
      padding: 15px;
      border: 2px solid #f9f8f6;
      width: 100%;
      box-sizing: border-box; }
      body .container .guide .guide_box h2 {
        font-size: 1.8rem;
        color: #887f69;
        font-weight: bold;
        margin: 0;
        padding-bottom: 10px; }
      body .container .guide .guide_box h3 {
        font-size: 1.3rem;
        color: #887f69;
        font-weight: bold;
        margin: 0;
        padding-bottom: 10px; }
      body .container .guide .guide_box p {
        font-size: 1.3rem;
        margin: 0;
        padding-bottom: 10px; }
      body .container .guide .guide_box .banner1 {
        width: 100%;
        max-width: 150px;
        padding-bottom: 10px; }
      body .container .guide .guide_box .banner2 {
        width: 100%;
        padding-bottom: 10px; } }
  @media (min-width: 550px) {
    body .container .guide {
      display: flex; }
      body .container .guide .guide_box {
        background-color: #ffffff;
        padding: 10px;
        border: 1px solid #f9f8f6;
        box-sizing: border-box;
        width: 50%; }
        body .container .guide .guide_box h2 {
          font-size: 1.5rem;
          color: #887f69;
          font-weight: bold; }
        body .container .guide .guide_box h3 {
          font-size: 1rem;
          color: #887f69;
          font-weight: bold; }
        body .container .guide .guide_box p {
          font-size: 1rem; }
        body .container .guide .guide_box .banner1 {
          width: 100%;
          max-width: 120px; }
        body .container .guide .guide_box .banner2 {
          width: 100%; } }
  @media (max-width: 550px) {
    body .container #search {
      margin-top: 20px;
      padding: 20px 15px;
      background-color: #ffffff; }
      body .container #search .button-primary {
        width: 100%;
        padding: 5px;
        background-color: #f9f8f6; }
      body .container #search #searchInput {
        margin-bottom: 0;
        background-color: #f3f1ed;
        border-radius: 0;
        border: none;
        background-image: url("../images/top/search_icon.png");
        background-repeat: no-repeat;
        background-position: right 5% bottom 50%; }
      body .container #search .itemsearch {
        display: none; } }
  @media (min-width: 550px) {
    body .container #search {
      padding: 20px 15px;
      background-color: #ffffff; }
      body .container #search .button-primary {
        width: 100%;
        padding: 5px;
        background-color: #f9f8f6; }
      body .container #search #searchInput {
        margin-bottom: -1.5rem;
        background-color: #f3f1ed;
        border-radius: 0;
        border: none;
        background-image: url("../images/top/search_icon.png");
        background-repeat: no-repeat;
        background-position: right 5% bottom 50%; } }
  body .container .box_pagelink {
    width: 100%;
    box-sizing: border-box;
    background-color: #887f69;
    color: #ffffff;
    font-size: 1.3rem;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: left;
    padding: 15px 5px;
    margin-top: 5px;
    background-image: url("../images/top/next_icon.png");
    background-repeat: no-repeat;
    background-position: right 5% bottom 50%; }
    body .container .box_pagelink a {
      text-decoration: none;
      color: #ffffff; }
  body .container .box_category {
    width: 100%;
    box-sizing: border-box;
    background-color: #887f69;
    color: #ffffff;
    font-size: 1.3rem;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: left;
    padding: 15px 5px;
    margin-top: 5px;
    background-image: url("../images/top/down_icon.png");
    background-repeat: no-repeat;
    background-position: right 5% bottom 50%; }
    body .container .box_category a {
      text-decoration: none;
      color: #ffffff; }
  body .container .box {
    width: 100%;
    box-sizing: border-box;
    background-color: #887f69;
    color: #ffffff;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: left;
    padding: 15px 5px;
    margin-top: 5px; }
    body .container .box a {
      text-decoration: none;
      color: #ffffff; }
  body .container .category_name {
    width: 100%;
    box-sizing: border-box;
    background-color: #ffffff;
    font-size: 1.3rem;
    text-align: left;
    padding: 15px 5px;
    color: #887f69;
    border-bottom: 1px solid #f9f8f6;
    background-image: url("../images/top/next_icon.png");
    background-repeat: no-repeat;
    background-position: right 5% bottom 50%; }
    body .container .category_name a {
      text-decoration: none;
      color: #887f69; }
  @media (max-width: 550px) {
    body .container .box_detail {
      background-color: #ffffff; }
      body .container .box_detail .box_detail_left {
        padding: 10px;
        box-sizing: border-box;
        width: 49%;
        display: inline-block;
        vertical-align: top; }
        body .container .box_detail .box_detail_left .picture_detail {
          width: 100%; }
      body .container .box_detail .box_detail_right {
        padding: 5px;
        box-sizing: border-box;
        width: 49%;
        display: inline-block; }
        body .container .box_detail .box_detail_right p {
          font-size: 1.2rem;
          padding: 5px 0;
          margin: 0;
          display: inline-block; }
        body .container .box_detail .box_detail_right a .link_detail {
          background-color: #887f69;
          padding: 5px 10px;
          border-radius: 15px;
          display: inline-block; } }
  @media (min-width: 550px) {
    body .container .box_detail {
      padding: 10px;
      width: 100%;
      box-sizing: border-box;
      background-color: #ffffff; }
      body .container .box_detail .picture_detail {
        width: 100%; }
      body .container .box_detail .box_detail_right {
        padding: 10px 0; }
        body .container .box_detail .box_detail_right p {
          font-size: 0.5rem;
          padding: 5px 0;
          margin-bottom: 5px; }
        body .container .box_detail .box_detail_right a .link_detail {
          background-color: #887f69;
          padding: 5px 10px;
          border-radius: 15px;
          width: 70%;
          margin: 0 auto;
          display: block; } }
  body .container .cate_list {
    margin-bottom: 15px;
    background-color: #e8e4da;
    padding: 1rem; }
    body .container .cate_list a {
      text-decoration: none;
      color: #887f69;
      font-size: 1.2rem;
      padding: 0 5px; }
      body .container .cate_list a .home_icon {
        padding: 0 5px; }
    body .container .cate_list p {
      color: #887f69;
      font-size: 1.2rem;
      display: inline; }
  @media (max-width: 550px) {
    body .container .cate_image {
      display: none; } }
  @media (min-width: 550px) {
    body .container .cate_image {
      padding: 15px 0;
      max-width: 100%; } }
  @media (max-width: 550px) {
    body .container .cate_image_sp {
      max-width: 100%;
      display: block;
      margin: auto;
      padding: 15px 0; } }
  @media (min-width: 550px) {
    body .container .cate_image_sp {
      display: none; } }
  @media (max-width: 550px) {
    body .container .recent_pro_pc {
      display: none; } }
  @media (min-width: 550px) {
    body .container .recent_pro_pc {
      padding: 15px 0;
      max-width: 100%; } }
  @media (max-width: 550px) {
    body .container .title_recent_pro {
      max-width: 100%;
      display: block;
      margin: auto;
      padding: 15px 0; } }
  @media (min-width: 550px) {
    body .container .title_recent_pro {
      display: none; } }
  @media (max-width: 550px) {
    body .container .cate_items .item_box {
      background-color: #ffffff;
      padding: 12px;
      border: 2px solid #f9f8f6;
      box-sizing: border-box;
      max-width: 50%;
      float: left; }
      body .container .cate_items .item_box .flexible-images {
        width: 100%;
        height: auto; }
      body .container .cate_items .item_box p {
        font-size: 1rem;
        margin-bottom: 0; } }
  @media (min-width: 550px) {
    body .container .cate_items .item_box {
      background-color: #ffffff;
      float: left;
      padding: 12px;
      width: 33%;
      box-sizing: border-box;
      border: 1px solid #f9f8f6; }
      body .container .cate_items .item_box .flexible-images {
        max-width: 100%;
        height: auto; }
      body .container .cate_items .item_box p {
        font-size: 1rem; } }
  @media (max-width: 550px) {
    body .container .checked_items .item_box {
      background-color: #ffffff;
      padding: 12px;
      border: 2px solid #f9f8f6;
      box-sizing: border-box;
      max-width: 50%;
      float: left; }
      body .container .checked_items .item_box .flexible-images {
        width: 100%;
        height: auto; }
      body .container .checked_items .item_box p {
        font-size: 1rem;
        margin-bottom: 0; } }
  @media (min-width: 550px) {
    body .container .checked_items .item_box {
      background-color: #ffffff;
      float: left;
      padding: 12px;
      width: 33%;
      box-sizing: border-box;
      border: 1px solid #f9f8f6; }
      body .container .checked_items .item_box .flexible-images {
        max-width: 100%;
        height: auto; }
      body .container .checked_items .item_box p {
        font-size: 1rem; } }
  body .container .links .backlink {
    text-decoration: none;
    background-color: #887f69;
    color: white;
    font-size: 1.2rem;
    padding: 8px 25px;
    display: inline-block;
    margin-top: 20px; }
  body .container .links .nextlink {
    text-decoration: none;
    background-color: #887f69;
    color: white;
    font-size: 1.2rem;
    padding: 8px 25px;
    display: inline-block;
    margin-top: 20px;
    float: right; }
  @media (max-width: 550px) {
    body .container .item_detail_box .item_detail_boxinside {
      padding: 5px 5px;
      background-color: white; }
      body .container .item_detail_box .item_detail_boxinside .name h2 {
        font-size: 1.5rem;
        font-weight: bold;
        padding: 5px 0;
        margin: 0; }
      body .container .item_detail_box .item_detail_boxinside .name p {
        font-size: 0.9rem;
        color: #e8e4da;
        padding: 5px 0;
        margin: 0; }
      body .container .item_detail_box .item_detail_boxinside .picture_box {
        width: 100%;
        border-bottom: 1px solid #e8e4da;
        border-top: 1px solid #e8e4da;
        padding: 20px 0; }
        body .container .item_detail_box .item_detail_boxinside .picture_box #display_img {
          width: 100%;
          border: 2px solid white;
          box-sizing: border-box; }
          body .container .item_detail_box .item_detail_boxinside .picture_box #display_img img {
            display: block;
            width: 100%;
            border: 2px solid white;
            box-sizing: border-box; }
        body .container .item_detail_box .item_detail_boxinside .picture_box #list_img {
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          border: 2px solid white;
          box-sizing: border-box; }
          body .container .item_detail_box .item_detail_boxinside .picture_box #list_img li {
            list-style: none;
            display: block;
            width: 20%;
            height: 20%;
            margin: 0; }
            body .container .item_detail_box .item_detail_boxinside .picture_box #list_img li img {
              display: block;
              border: 2px solid white;
              box-sizing: border-box;
              width: 100%;
              height: 100%; }
      body .container .item_detail_box .item_detail_boxinside .form .title_color {
        padding: 10px 0; }
      body .container .item_detail_box .item_detail_boxinside .form table {
        border-collapse: collapse;
        font-size: 1rem; }
        body .container .item_detail_box .item_detail_boxinside .form table th {
          background-color: #fcfbf9;
          border: solid 1px #e8e4da;
          color: #887f69;
          padding: 8px 0;
          text-align: center;
          font-weight: normal; }
        body .container .item_detail_box .item_detail_boxinside .form table td {
          border: solid 1px #e8e4da;
          color: #887f69;
          padding: 8px 0;
          text-align: center;
          font-weight: normal; }
          body .container .item_detail_box .item_detail_boxinside .form table td #checkbox {
            margin: 0; }
        body .container .item_detail_box .item_detail_boxinside .form table .left {
          width: 30%;
          background-color: #fcfbf9; }
      body .container .item_detail_box .item_detail_boxinside .form .pq1 {
        width: 100%; }
        body .container .item_detail_box .item_detail_boxinside .form .pq1 .pq2 {
          width: 100%; }
          body .container .item_detail_box .item_detail_boxinside .form .pq1 .pq2 .price {
            display: -webkit-flex;
            display: flex;
            width: 100%;
            border-top: 1px solid #e8e4da; }
            body .container .item_detail_box .item_detail_boxinside .form .pq1 .pq2 .price .title_price {
              width: 40%;
              padding: 20px 5px; }
            body .container .item_detail_box .item_detail_boxinside .form .pq1 .pq2 .price p {
              font-size: 1rem;
              width: 60%;
              margin: 0;
              padding: 10px 5px; }
              body .container .item_detail_box .item_detail_boxinside .form .pq1 .pq2 .price p span {
                color: red;
                font-size: 2.5rem; }
          body .container .item_detail_box .item_detail_boxinside .form .pq1 .pq2 .guantity {
            display: -webkit-flex;
            display: flex;
            width: 100%;
            border-bottom: 1px solid #e8e4da;
            border-top: 1px solid #e8e4da; }
            body .container .item_detail_box .item_detail_boxinside .form .pq1 .pq2 .guantity .title_quantity {
              width: 40%;
              padding: 20px 5px; }
            body .container .item_detail_box .item_detail_boxinside .form .pq1 .pq2 .guantity .input_quantity {
              width: 60%;
              padding: 20px 5px; }
              body .container .item_detail_box .item_detail_boxinside .form .pq1 .pq2 .guantity .input_quantity input {
                width: 90%;
                margin-bottom: 0;
                border: solid 1px #e8e4da; }
        body .container .item_detail_box .item_detail_boxinside .form .pq1 .cart_btn {
          text-align: center; }
          body .container .item_detail_box .item_detail_boxinside .form .pq1 .cart_btn .btn {
            width: 70%;
            padding-top: 15px; }
      body .container .item_detail_box .item_detail_boxinside .form .explanation {
        clear: both; }
        body .container .item_detail_box .item_detail_boxinside .form .explanation h2 {
          font-weight: bold;
          font-size: 1.4rem;
          color: #887f69;
          border-bottom: 1px solid #887f69;
          padding-bottom: 10px;
          padding-top: 20px; }
        body .container .item_detail_box .item_detail_boxinside .form .explanation h3 {
          font-weight: bold;
          font-size: 1rem;
          color: #887f69; }
        body .container .item_detail_box .item_detail_boxinside .form .explanation p {
          font-size: .9rem; }
        body .container .item_detail_box .item_detail_boxinside .form .explanation table {
          font-size: 1rem; }
          body .container .item_detail_box .item_detail_boxinside .form .explanation table th {
            border: solid 1px #e8e4da;
            color: #887f69;
            padding: 8px 0;
            text-align: center;
            font-weight: normal;
            background-color: white; }
          body .container .item_detail_box .item_detail_boxinside .form .explanation table td {
            border: solid 1px #e8e4da;
            color: #887f69;
            padding: 8px 0;
            text-align: center;
            font-weight: normal; }
          body .container .item_detail_box .item_detail_boxinside .form .explanation table .left {
            width: 30%;
            background-color: #fcfbf9; } }
  @media (min-width: 550px) {
    body .container .item_detail_box .item_detail_boxinside {
      padding: 30px 40px;
      background-color: white; }
      body .container .item_detail_box .item_detail_boxinside .name {
        display: -webkit-flex;
        display: flex;
        justify-content: space-between; }
        body .container .item_detail_box .item_detail_boxinside .name h2 {
          font-size: 1.2rem;
          font-weight: bold; }
        body .container .item_detail_box .item_detail_boxinside .name p {
          font-size: 0.9rem;
          color: #e8e4da; }
      body .container .item_detail_box .item_detail_boxinside .picture_box {
        width: 100%;
        border-bottom: 1px solid #e8e4da;
        border-top: 1px solid #e8e4da;
        padding: 20px 0;
        display: -webkit-flex;
        display: flex; }
        body .container .item_detail_box .item_detail_boxinside .picture_box #display_img {
          width: 71%;
          border: 2px solid white;
          box-sizing: border-box; }
          body .container .item_detail_box .item_detail_boxinside .picture_box #display_img img {
            display: block;
            width: 100%;
            border: 2px solid white;
            box-sizing: border-box; }
        body .container .item_detail_box .item_detail_boxinside .picture_box #list_img {
          width: 29%;
          display: flex;
          flex-wrap: wrap;
          border: 2px solid white;
          box-sizing: border-box; }
          body .container .item_detail_box .item_detail_boxinside .picture_box #list_img li {
            list-style: none;
            display: block;
            width: 50%;
            height: 20%;
            margin: 0; }
            body .container .item_detail_box .item_detail_boxinside .picture_box #list_img li img {
              display: block;
              border: 2px solid white;
              box-sizing: border-box;
              width: 100%;
              height: 100%; }
      body .container .item_detail_box .item_detail_boxinside .form .title_color {
        padding: 10px 0; }
      body .container .item_detail_box .item_detail_boxinside .form table {
        border-collapse: collapse;
        font-size: 1rem; }
        body .container .item_detail_box .item_detail_boxinside .form table th {
          background-color: #fcfbf9;
          border: solid 1px #e8e4da;
          color: #887f69;
          padding: 8px 0;
          text-align: center;
          font-weight: normal; }
        body .container .item_detail_box .item_detail_boxinside .form table td {
          border: solid 1px #e8e4da;
          color: #887f69;
          padding: 8px 0;
          text-align: center;
          font-weight: normal; }
          body .container .item_detail_box .item_detail_boxinside .form table td #checkbox {
            margin: 0; }
        body .container .item_detail_box .item_detail_boxinside .form table .left {
          width: 30%;
          background-color: #fcfbf9; }
      body .container .item_detail_box .item_detail_boxinside .form .pq1 {
        width: 100%;
        display: -webkit-flex;
        display: flex; }
        body .container .item_detail_box .item_detail_boxinside .form .pq1 .pq2 {
          width: 60%; }
          body .container .item_detail_box .item_detail_boxinside .form .pq1 .pq2 .price {
            display: -webkit-flex;
            display: flex;
            width: 100%;
            border-top: 1px solid #e8e4da; }
            body .container .item_detail_box .item_detail_boxinside .form .pq1 .pq2 .price .title_price {
              width: 40%;
              padding: 20px 5px; }
            body .container .item_detail_box .item_detail_boxinside .form .pq1 .pq2 .price p {
              font-size: 1rem;
              width: 60%;
              margin: 0;
              padding: 10px 5px; }
              body .container .item_detail_box .item_detail_boxinside .form .pq1 .pq2 .price p span {
                color: red;
                font-size: 2.5rem; }
          body .container .item_detail_box .item_detail_boxinside .form .pq1 .pq2 .guantity {
            display: -webkit-flex;
            display: flex;
            width: 100%;
            border-bottom: 1px solid #e8e4da;
            border-top: 1px solid #e8e4da; }
            body .container .item_detail_box .item_detail_boxinside .form .pq1 .pq2 .guantity .title_quantity {
              width: 40%;
              padding: 20px 5px; }
            body .container .item_detail_box .item_detail_boxinside .form .pq1 .pq2 .guantity .input_quantity {
              width: 60%;
              padding: 20px 5px; }
              body .container .item_detail_box .item_detail_boxinside .form .pq1 .pq2 .guantity .input_quantity input {
                width: 90%;
                margin-bottom: 0;
                border: solid 1px #e8e4da; }
        body .container .item_detail_box .item_detail_boxinside .form .pq1 .cart_btn {
          width: 40%; }
          body .container .item_detail_box .item_detail_boxinside .form .pq1 .cart_btn .btn {
            width: 90%;
            display: inline-block;
            float: right; }
      body .container .item_detail_box .item_detail_boxinside .form .explanation h2 {
        font-weight: bold;
        font-size: 1.4rem;
        color: #887f69;
        border-bottom: 1px solid #887f69;
        padding-bottom: 10px;
        padding-top: 20px; }
      body .container .item_detail_box .item_detail_boxinside .form .explanation h3 {
        font-weight: bold;
        font-size: 1rem;
        color: #887f69; }
      body .container .item_detail_box .item_detail_boxinside .form .explanation p {
        font-size: .9rem; }
      body .container .item_detail_box .item_detail_boxinside .form .explanation table {
        font-size: 1rem; }
        body .container .item_detail_box .item_detail_boxinside .form .explanation table th {
          border: solid 1px #e8e4da;
          color: #887f69;
          padding: 8px 0;
          text-align: center;
          font-weight: normal;
          background-color: white; }
        body .container .item_detail_box .item_detail_boxinside .form .explanation table td {
          border: solid 1px #e8e4da;
          color: #887f69;
          padding: 8px 0;
          text-align: center;
          font-weight: normal; }
        body .container .item_detail_box .item_detail_boxinside .form .explanation table .left {
          width: 30%;
          background-color: #fcfbf9; } }
  @media (max-width: 550px) {
    body footer .container .pagetop {
      padding-top: 50px;
      width: 80px;
      display: block;
      margin: 0 auto; }
    body footer .container .underline {
      border-bottom: 1px solid #887f69;
      padding: 10px 0; }
    body footer .container .footer-list {
      font-size: 1rem;
      text-align: center;
      padding: 20px; }
      body footer .container .footer-list a {
        padding: 0 5px;
        color: #232323;
        text-decoration: none; }
    body footer .container p {
      color: #7a725e;
      font-size: 1rem;
      text-align: center;
      padding-bottom: 30px; } }
  @media (min-width: 550px) {
    body footer .container .pagetop {
      padding-top: 50px;
      width: 80px;
      display: block;
      margin-left: auto; }
    body footer .container .underline {
      width: 100%;
      border-bottom: 1px solid #887f69;
      padding: 10px; }
    body footer .container .footer-list {
      font-size: 1.2rem;
      text-align: center;
      padding: 20px; }
      body footer .container .footer-list a {
        padding: 0 5px;
        color: #232323;
        text-decoration: none; }
      body footer .container .footer-list br {
        display: none; }
    body footer .container p {
      color: #7a725e;
      font-size: 0.8rem;
      text-align: center;
      padding-bottom: 50px; } }
  body .cf:before,
  body .cf:after {
    content: "";
    display: table; }
  body .cf:after {
    clear: both; }
  body .cf {
    zoom: 1; }

/*# sourceMappingURL=style.css.map */
